.QuestionBox {
  position: fixed;
  background-color: var(--background-color);
  width: 627px;
  height: 516px;
  border-radius: 10px;

  border: 0.5px solid var(--input-border-color);
  left: 50%;
  padding: 30px 40px;
  transform: translateX(-50%);
  transition: 0.7s ease-in-out;
}

.QuestionBox .preview-qb {
  height: 222px;
}
.qb-active {
  top: 83px;
}
.qb-inactive {
  top: calc(-100%);
}
.QuestionBox textarea {
  height: 87px;
  resize: none;
  margin-bottom: 14px;
  padding-top: 10px;
}

.QuestionBox p {
  font-size: 12px;
  font-weight: 300;
  margin-top: -45px;
  line-height: 170%;
}
