.NotepadPage {
  padding: 0 35px;
  position: relative;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.notepad-title {
  font-size: 20px;
  font-weight: 700;
  margin: 25px auto 20px;
  width: 100%;
}

ul {
  list-style: none;
}

.NotepadPage .notepad-container {
  padding-left: 0;
  height: 100%;
  overflow-y: scroll;
}

.notepad-content-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.notepad-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* align-items: ; */
  width: 100%;
}

.notepad-point {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
}

.point-marker {
  color: #324cdc;
  align-self: flex-start;
  margin-top: 7px;
}

/* .notepad-list:nth-of-type(2) {
} */

.notepad-textarea {
  width: 100%;
  margin-bottom: 20px;
}

.notepad-edit-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  align-self: flex-start;
  margin-left: 40px;
  margin-bottom: 20px;
}

.notepad-button {
  background-color: #1f1f1f;
  width: 130px;
}

.btn-notepad-submit {
  font-size: 30px;
  cursor: pointer;
}

.notepad-add-content {
  height: 76px;
}

.notepad-add-container {
  display: flex;
  align-items: center;
  gap: 30px;
  bottom: 100px;
  left: 50px;
  width: 100%;
  margin-top: 10px;
}
