.QuestionComponent {
  display: flex;
  gap: 10px;
}

.QuestionComponent .left p {
  font-size: 12px;
}

.QuestionComponent .right .question {
  font-size: 12px;
  font-weight: 400;
}
.QuestionComponent .options {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 10px;
}

.Option:hover {
  cursor: pointer;
  opacity: 0.8;
}

.Option {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 1;
  width: fit-content;
}

.Option p {
  font-size: 12px;
  font-weight: 300;
}

.Option i {
  font-size: 12px;
}

.selected-option > * {
  color: var(--accent-color-light);
}

.correct-option > * {
  color: rgb(9, 207, 9);
}
.wrong-option > * {
  color: rgb(255, 44, 44);
}
