.DashboardPage {
  padding: 0 32px;

  position: relative;
}

.dashboard-title {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0;
}

.all-courses {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  row-gap: 30px;
  overflow-y: scroll;
  height: calc(100svh - 100px);
  padding-bottom: 200px;
}

.all-courses::-webkit-scrollbar {
  display: none;
}

.btn-create-course {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #303030;
  position: absolute;
  bottom: 105px;
  right: 75px;
  cursor: pointer;
  opacity: 0.6;
}

.btn-create-course:hover {
  opacity: 1;
}

.create-course-icon {
  font-size: 20px;
  /* font-weight: 00; */
}
