.AccountComponent {
  position: fixed;
  top: 92px;
  width: 365px;
  height: 523px;
  background-color: #0a0a0a;
  border-radius: 100px;
  border: 1px solid var(--input-border-color);
  padding: 0 32px;
  z-index: 300;
  transition: 1s ease;
}

.AccountComponent-active {
  position: fixed;
  top: 92px;
  right: 28px;
  width: 365px;
  height: 523px;
  border-radius: 22px;
  border: 1px solid var(--input-border-color);
  padding: 0 32px;
}

.AccountComponent-inactive {
  position: fixed;
  top: 92px;
  right: calc(-100% - 28px);

  width: 365px;
  height: 523px;
  background-color: #0a0a0a;
  border-radius: 17px;
  border: 1px solid var(--input-border-color);
  padding: 0 32px;
}

.AccountComponent img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-top: 35px;
  border-radius: 50%;
}

.AccountComponent .email {
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
}

.AccountComponent .input-block {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.AccountComponent button {
  margin-top: 26px;
}

.AccountComponent .signout-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 25px;
}

.AccountComponent .signout-container p {
  font-weight: 400;
}

.AccountComponent .signout-container i {
  font-size: 13px;
  margin-top: 2px;
}

.AccountComponent .signout-container:hover {
  cursor: pointer;
}

.AccountComponent .signout-container:hover > * {
  color: var(--red);
}
