.Navbar {
  width: 100vw;
  height: 55px;
  background-color: var(--header-background-color);
  display: flex;
  padding: 0 32px;
}

.Navbar .btn-2 {
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
  border-radius: 4px;
}

.Navbar .right-container {
  gap: 26px;
}
