.AuthenticationPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.auth-container {
  width: 50rem;
  padding: 5rem;
  border-radius: 2rem;
  background-color: var(--container-background-color);
  text-align: center;
}

.auth-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.auth-email,
.auth-password,
.auth-btn-submit {
  grid-column: 1/-1;
}

.auth-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.auth-action {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(242, 242, 242, 0.31);
  cursor: pointer;
}

.auth-active {
  color: var(--input-text-color);
}

.auth-logo {
  margin-bottom: 2rem;
}
