.QuizPreview {
  background-color: var(--header-background-color);
  height: 100%;
  padding: 20px 32px;
}

.QuizPreview .head button {
  height: 40px;
  padding: 0 25px;
}

.QuizPreview .head p {
  font-size: 17px;
  font-weight: 700;
}

.QuizPreview .body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  overflow-y: scroll;
}

.QuizPreview .body::-webkit-scrollbar {
  display: none;
}

.QuizPreview .right .score-box {
  font-size: 14px;
  font-weight: 400;
}
.QuizPreview .right .score-box .score {
  font-weight: 600;
  margin-left: 5px;
}

.QuizPreview .right .score-box .red {
  color: rgb(255, 114, 114);
}

.QuizPreview .right .score-box .yellow {
  color: rgb(255, 217, 0);
}

.QuizPreview .right .score-box .green {
  color: rgb(13, 255, 0);
}
