@import url('../src/css/animation.css');
@import url('../src/css/tailwind.css');

/* Variables */
:root {
  --background-color: #111;

  --modal-background: #111;

  --text-color: #fff;

  --accent-color: #324cdc;

  --header-background-color: #1f1f1f;

  --button-1-background-color: #324cdc;
  --button-1-text-color: #fff;

  --button-2-background-color: #303030;
  --button-2-text-color: #fff;

  --input-border-color: #bcbaba;
  --input-text-color: #f2f2f2;

  --red: #f74d4d;

  --container-background-color: #2f2f2f;
}

/* Global Styling */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  font-family: 'Poppins', 'DM Sans', 'Montserrat', 'Open Sans';
  color: var(--text-color);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
  color: var(--input-text-color);
}

p {
  color: var(--text-color);
}

/* Links configuration */
a:link {
  text-decoration: none;
}

/* Button Configuration */
button {
  background-color: var(--button-1-background-color);
  color: var(--button-1-text-color);
  height: 45px;
  border-radius: 8px;
  width: 100%;
}

button i {
  margin-left: 0.9rem;
}

button:hover {
  cursor: pointer;
  transform: scale(0.95);
  filter: brightness(0.9);
}

button:active {
  transform: scale(0.5);
}

.btn-2 {
  background-color: var(--button-2-background-color);
  color: var(--button-2-text-color);
}

/* Text configuration */
p {
  font-size: 13px;
  color: var(--text-color);
}

/* Input configuration */
input {
  background-color: transparent;
  height: 45px;
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  border-radius: 8px;
  font-size: 12px;
  padding: 0 17px;
  width: 100%;
}

input:focus {
  outline: 0;
  background-color: transparent;
}

input::placeholder {
  color: var(--input-text-color);
}
textarea {
  background-color: transparent;
  height: 45px;
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  border-radius: 8px;
  font-size: 12px;
  padding: 8px 17px;
  width: 100%;
}

textarea:focus {
  outline: 0;
  background-color: transparent;
}

textarea::placeholder {
  color: var(--input-text-color);
}

.custom-page {
  width: 100%;
  height: calc(100svh - 55px);
}
